<div data-controller="readMore" class="container m-2" id="blogs">
  <div class="row">
    <% @blogs.each do |blog| %>
      <%= render blog %>
    <% end %>
  </div>
</div>
<%= link_to "New blog", new_blog_path %>
