
<% if @blog.comments.exists? %>  
    <p><%= @blog.comments %></p>
<% end %>
<%= render 'comments/form' %>

<div>
  <%= link_to "Back to blogs", blogs_path, class: "btn btn-secondary mb-2" %>
</div>

</div>

