<div class="m-4">
  <div class='container border border-danger'>
    <h3 id="contact-us" class="body-header font-weight-bold text-center mt-2 border-bottom border-danger">Contact Us</h3>
    <p class="text-center text-wrap">Email us below or <span style="cursor: pointer; text-decoration: underline; color: #1a0dab;" data-controller="popover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="(215)901-4343">
        call us
      </span> today to start training your dog with us! Please include as much information about the dog as you can including breed, how long you have had the dog, and what problems you may be having.
      We're located in beautiful Horsham, PA on 319D Norristown Road. <br />
      <a target="_blank" href="https://www.google.com/maps/dir//Oakes+K9+Training,+319+Norristown+Rd,+Horsham,+PA+19044/@40.1827765,-75.1366595,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x89c6a4dba536a039:0x5a8621a8bad47f65!2m2!1d-75.1343883!2d40.1827137!3e0">
        Click here</a> for a map with directions from your location!
    </p>
    <%= render partial: "layouts/contact-form" %>
  </div>
</div>
